body {
  background: url(./assets/bg-svg_v8.svg) !important;
}

@media only screen and (max-width: 600px) {
  .mobile-responsive {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  .desktop-responsive {
    display: none !important;
  }
}

.heading-color {
  color: #dddbdb !important;
}
.sub-heading-color {
  color: #c9c7c7;
}

.btnc-menu {
  height: 40px;
  width: 50px;
  border: 1px solid #dddbdb;
  border-radius: 10px;
}
.btnc-menu:hover {
  background: rgba(221, 219, 219, 0.2);
}

.btnc {
  height: 40px;
  width: 120px;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid #dddbdb;
  border-radius: 7px;
}

.btnc:hover {
  background: rgba(221, 219, 219, 0.2);
  border: 1px solid #dddbdb;
}

.btnwhite {
  color: #dddbdb !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFont {
  font-family: "Montserrat", sans-serif;
}

/* this is icon */
.box {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #c9c7c7;
}

::selection {
  color: black;
  background: #c9c7c7;
}

div a.active {
  border-top: 1px solid #c9c7c7;
}

.link {
  text-decoration: none;
  color: #dddbdb !important;
}
.link:hover {
  color: #dddbdb !important;
}

.cool-link {
  display: inline-block;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #dddbdb !important;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}

.fontWeight100 {
  font-weight: 100;
}
.fontWeight200 {
  font-weight: 200;
}
.fontWeight300 {
  font-weight: 300;
}
.fontWeight400 {
  font-weight: 400;
}
.fontWeight500 {
  font-weight: 500;
}
.fontWeight600 {
  font-weight: 600;
}
.fontWeight700 {
  font-weight: 700;
}
.fontWeight800 {
  font-weight: 800;
}
.fontWeight900 {
  font-weight: 900;
}

.mouse-pointer {
  cursor: pointer;
}

.borderCircle {
  position: relative;
  top: "100px";
  border: 2px solid white;
  border-radius: 20px;
}

.sidebarWidth {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 200px;
  background: black;
  color: #dddbdb;
}
.bg-sidebar-text {
  /* border-top: 1px solid white; */
}
.bg-sidebar-text:hover {
  background: rgba(176, 172, 172, 0.2);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.vl {
  border-left: 2px solid #c9c7c7;
  height: 150px;
}

/* li {
  list-style: none;
  font-size: 20px;
}

li:before {
  content: "·";
  font-size: 120px;
  vertical-align: middle;
  line-height: 20px;
} */
.pointCSS {
  width: 16.42px;
  height: 16.42px;
  background: #dddbdb;
  border-radius: 10px;
}
